.corpo{
    display: flex;
    justify-content: center;
    align-content: center;
}
.caixa{
   background-color: #E8F5F2;
   width: 900px;
   height: 500px;
   box-shadow: 0px 0px 8px;
   display: flex;
   padding: 20px;
   margin: 80px;
   border-radius: 10px;
}
.pergunta{
    display: flex;
    margin-top: 0;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.pergunta input{
    width: 900px;
    height: 60px;
    background-color: #AD6DFF ;
    border-radius: 10px;   
    border: none;
    font-size: 18px;
}
.pergunta input::placeholder{
    margin: 15px;
    font-size: 18px;
    color: #C8C2C2 ;
}
.pergunta button{
    display: flex;
    align-items: center;
    margin-left: -70px;
    height: 45px;
    background: transparent;
    border: none;
}
.pergunta button svg{
    cursor: pointer;
     height: 40px;
     width: 40px;
}
@media screen and (max-width:1450px) {
    .caixa{
        width: 800px;
        margin: 30px ;
        margin-left: 150px;
    }
    .pergunta input{
        width: 800px;
    }
}
@media screen and (max-width:1250px){
    .caixa{
        margin-left: 150px;
        margin-top: 200px;
    }
}

@media screen and (max-width :850px ) {
    .caixa{
        width: 600px;
        height: 600px;
        margin-top: 60px;
    }
    .pergunta input{
        width: 600px;
    }
}
@media screen and (max-width :750px ) {
    .caixa{
        width: 500px;
        height: 500px;
    }
    .pergunta input{
        width: 500px;
    }
}
@media screen and (max-width :650px ) {
    .caixa{
        width: 400px;
        height: 500px;
    }
    .pergunta input{
        width: 400px;
    }
}
@media screen and (max-width: 450px){
    .caixa{
        width: 280px;
        height: 500px;
        margin: 5px;
    }
    .pergunta input{
        width: 280px;
    }   
}