
.resposta {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.resposta textarea {
    width: 850px;
    height: 500px;
    box-shadow: 0px 0px 8px;
    padding: 20px;
    margin-left: 250px;
    margin-top: 100px;
    border-radius: 10px;
    border: none;
    white-space: pre-wrap; 
    font-size: 18px;
    resize: vertical; 
    overflow-y: auto; 
}
.pergunta {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;vertical-align: top;
    word-wrap: break-word; 
}
.pergunta input {
    width: 900px;
    height: 60px;
    background-color: #ad6dff;
    border-radius: 10px;
    border: none;
    margin-left: 220px;
    font-size: 18px;

    
}
.pergunta input::placeholder {
    margin: 15px;
    font-size: 18px;
    color: #c8c2c2;
}
.pergunta button {
    display: flex;
    align-items: center;
    margin-left: -70px;
    height: 45px;
    background: transparent;
    border: none;
}
.pergunta button svg {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

  @media screen and (max-width: 1250px) {
    .resposta textarea{
         margin-top: 200px; 
    }
} 

@media screen and (max-width: 850px) {
  
     .resposta textarea{
        
        margin-left: 20px;
        margin-right: 20px ;
        margin-top: 20px;
     }
     .pergunta input{
        margin-left: 20px;
        margin-right: 20px ;
     }
}
