.container-financias{
    display: block;
    margin-top: -10px;
    justify-content: center;
    align-content: center;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}
.box-financias{
    z-index: 999; 
    justify-items: center;
    align-items: center;
    background-color: rgb(24, 22, 22);
    border-radius: 20px;
    width: 800px;
    height: 600px;
    padding: 10px;
}
.caixa-financias{
    margin-top: 60px;
    display: flex;
}
.caixa-financias input{
    background-color:rgb(16, 15, 15);
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 80px;
    box-shadow: -2px 1px 4px 1px;
    color: blueviolet;
    margin-left: 20px;
    font-size: 20px;
}
 .caixa-financias label{
     margin-left: 10px;
     color: blueviolet;
     font-size: 18px;
     font-style: bold italic;
 }
 .save-financias{
    background-color: rgb(16,15,15);
    color: blueviolet;
    border: none;
    margin-left: 30px;
    cursor: pointer;
    width: 150px;
    height: 80px;
    box-shadow: -2px 1px 4px 1px;
    border-radius: 5px;
 }
 .save-financias:hover{
    transition: all 1s;
    background-color: white;
 }
 
@media screen and (max-width: 820px){
    .box-financias{
        display:block;
        width: 500px;
        height: 900px;
        padding: 10px;   
    }
    .caixa-financias input{
        width: 80px;
    }
    .save-financias{
        width: 80px;
    }
}
@media screen and (max-width:431px){
    .box-financias{
        width: 300px;
    }
}