.container-financias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -10px;
}

.box-financias {
    position: relative;
    z-index: 999;
    background-color: rgb(24, 22, 22);
    border-radius: 20px;
    width: 800px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.caixa-financias {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-financias input {
    background-color: rgb(16, 15, 15);
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    box-shadow: -2px 1px 4px 1px;
    color: blueviolet;
    margin: 10px 0;
    transition: all 1s;
    font-size: 20px;
}

.caixa-financias label {
    color: blueviolet;
    font-size: 18px;
    font-style: bold italic;
}

.save-financias {
    background-color: rgb(16, 15, 15);
    color: blueviolet;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    box-shadow: -2px 1px 4px 1px;
    border-radius: 5px;
    margin: 20px 0;
    transition: all 1s;
}

.save-financias:hover {
    background-color: white;
}

.close {
    position: fixed;
    background-color: transparent;
    font-size: 30px;
    color: rgb(95, 81, 81);
    border: none;
    margin: 5px;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.transacoes {
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

.transacoes h2 {
    color: blueviolet;
    font-style: bold italic;
    margin-bottom: 10px;
    text-align: center;
}

.transacoes table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(16, 15, 15);
}

.transacoes th, .transacoes td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.transacoes th {
    background-color: blueviolet;
    color: white;
}
.transacoes td{
    color: blueviolet;
    font-style: bold italic;
}
.transacoes td.positive {
    color: green; 
}
.transacoes td.negative {
    color: red; 
}


@media screen and (max-width: 820px) {
    .box-financias {
        width: 500px;
        padding: 10px;
    }

    .caixa-financias input {
        width: 100px;
        height: 50px;
    }

    .save-financias {
        width: 100px;
        height: 30px;
    }
}

@media screen and (max-width: 431px) {
    .box-financias {
        width: 300px;
    }
}
