
.caixa-footer{
    position: absolute;
    display: block;
    margin: 50px;

}
.box-footer{
    text-align: center;
    background-color: #28302e;
    border-radius: 10px;
    margin-bottom: 50px;
    width: 200px;
    height: 100px;
    box-shadow: 1px 2px 10px black;
}
.box-footer p{
    padding: 10px;
    font-size: 20px;
    font-style: bold italic;
    color: #9747FF;
    cursor: pointer;
}
@media screen and (max-width: 1250px) {
    .caixa-footer {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-gap: 30px;
        justify-content: center;
        padding: 30px;
        cursor: pointer;
        align-items: center;
    }
    .box-footer{
        width: 180px;
    }
}
@media screen and (max-width: 850px){
    .caixa-footer{
        display: none;
    }
    
}