.container-informacoes {
    display: block;
    margin-top: -10px;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.caixa-informacoes {
    z-index: 999;
    justify-items: center;
    align-items: center;
    background-color: rgb(24, 22, 22);
    border-radius: 20px;
    width: 700px;
    transition: all 1s;
    height: 600px;
    padding: 10px;
}

.box-informacoes {
    height: 60px;
    background-color: rgb(16, 15, 15);
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: -2px 1px 4px 1px;
    margin: 40px;
    transition: all 1s;
    font-size: 18px;
    color: blueviolet;
}

.box-informacoes:hover {
    transition: all 1s;
    background-color: white;
}

.box-informacoes h3 {
    margin: 10px;
}

.box-informacoes p {
    margin: 10px;
    color: blueviolet;
}
@media screen and (max-width: 820px){
    .caixa-informacoes {
        width: 500px;
    }
}

@media screen and (max-width: 431px) {
    .caixa-informacoes {
        width: 300px;
    }
    .box-informacoes h3{
        font-size: 16px;
    }
    .box-informacoes p{
        font-size: 13px;
    }
}