.container-investimentos{
    display: block;
    justify-content: center;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}
.caixa-investimentos{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1px;
    background-color: rgb(92, 82, 82);
    border-radius: 20px;
    width: 800px;
    height: 600px;
    z-index: 10;
}

.box-investimentos{
    text-align: center;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    box-shadow: 1px 2px 10px black;
}
.box-investimentos p{
    padding: 10px;
    font-style: bold italic;
    color: #9747FF;
    font-size: 18px;
}
.box-investimentos:hover{
    transition: 1s;
    transform: scale(1.05);
    box-shadow: 2px 2px 10px (#9747FF);
}
.close{
    position: absolute;
    background-color: transparent;
    font-size: 30px;
    color: red;
    border: none;
    margin: 15px ;
    cursor: pointer;
}