.container-investimentos{
    display: block;
    margin-top: -40px;
    justify-content: center;
    align-content: center;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}
.caixa-investimentos{
    display: grid;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    grid-template-columns:  repeat(2, 0.5fr);
    justify-items: center;
    align-items: center;
    gap: 40px;
    background-color: rgb(25, 22, 22);
    border-radius: 20px;
    width: 800px;
    height: 600px;
    z-index: 10;
}

.box-investimentos{
    text-align: center;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    box-shadow: 0px 1px 10px #000000;
    padding: 30px; 
}
.box-investimentos:hover{
    transition:  3s ;
    transform: scale(1.0);
    box-shadow: 1px 1px 10px #9747FF;
    background-color: aliceblue;
}
.box-investimentos p{
    padding: 10px;
    font-style: bold italic;
    color: #9747FF;
    font-size: 18px;
}
.box-investimentos:hover{
    transition: 1s;
    transform: scale(1.05);
    box-shadow: 2px 2px 10px (#9747FF);
}
.close{
    position: absolute;
    background-color: transparent;
    font-size: 30px;
    color: red;
    border: none;
    margin: 15px ;
    cursor: pointer;
}