body {
    background-color: rgb(163, 172, 173);
  }
  .cabeçario {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: saturate(100%) blur(20%);
    width: 100vw;
    height: 60px;
  }
  .cabeçario h1 {
    padding: 10px;
    font-style: bold italic;
    font-size: 50px;
    background: linear-gradient(to bottom, #9747ff, #dcc1ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .btn-menu {
    color: #9747ff;
    display: none;
    margin-left: auto;
    justify-content: flex-end;
    margin-top: -50px;
    margin-right: 20px;
    cursor: pointer;
  }
  .menu {
    position: absolute;
    display: none;
    right: 0;
    background-color: black;
    color: #9747ff;
    width: 300px;
    height: 740px;
  }
  .close-menu {
    background-color: transparent;
    color: rgb(95, 81, 81);
    font-size: 30px;
    border: none;
  }
  .close-menu:hover {
    color: red;
  }
  .menu p {
    font-size: 30px;
    font-style: bold italic;
    background: linear-gradient(to bottom, #9747ff, #dcc1ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 0px 1px 10px #a799b9;
    padding: 10px;
    cursor: pointer;
  }
  @media screen and (max-width: 850px) {
    .btn-menu {
      display: flex;
    }
  }
  @media screen and (max-width: 550px) {
    .cabeçario h1 {
      font-size: 20px;
    }
  }
  